body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 32px 40px 32px;
}

.logo {
  margin-left: -17px;
  margin-bottom: 40px;
  display: block;
}

.h1, h1 {
  margin: 0;
}

.h1, h1,
section .h2, 
section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

.h2, h2 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.h1::after, h1::after,
section .h2::after, 
section h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 8px;
  background-color: red;
  bottom: 0;
  left: 0;
}

p {
  font-size: 18px;
  line-height: 32px;
}

ul {
  list-style: none;
}

ul > li {
  font-size: 18px;
  line-height: 32px;
  position: relative;
}

ul > li::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #c1c1c1;
  left: -24px;
  top: 10px;
}

p + ul {
  margin-top: -8px;
}

strong {
  font-size: 20px;
}

.section-services {
  margin-top: 36px;
}

.section-services__list {
  column-count: 2;
  margin-bottom: 40px;
}

.section-services__title {
  margin: 0;
}

.section-services__item {
  display: inline-block;
  width: 90%;
  margin-bottom: 30px;
}

@media  screen and (max-width: 767px) {
  .section-services__list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

.table-price {
  max-width: 640px;
  border: 2px solid;
}

.table-price__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.table-price__col {
  padding: 20px;
}

.table-price__row:not(:last-child) {
  border-bottom: 2px solid;
}

.table-price__col:not(:last-child) {
  border-right: 2px solid;
}