body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px 0 32px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
}

.logo {
  margin-left: -17px;
  display: block;
}

.contacts {
  max-width: 270px;
  text-align: right;
}

.contacts a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.contacts__phone {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  padding-left: 36px;
}

.contacts__phone::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  margin-top: -12px;
}

.contacts__email {
  font-size: 20px;
}

.contacts__email:hover {
  text-decoration: underline;
}

section {
  padding-bottom: 36px;
}

.h1, h1 {
  margin: 0;
}

.h1, h1,
section .h2, 
section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

.h2, h2 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.h1::after, h1::after,
section .h2::after, 
section h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 8px;
  background-color: #cd2f2f;
  bottom: 0;
  left: 0;
}

p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
}

p:not(:last-child) {
  margin-bottom: 18px;
}

ul {
  list-style: none;
}

ul > li {
  font-size: 18px;
  line-height: 32px;
  position: relative;
}

ul > li::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #c1c1c1;
  left: -24px;
  top: 10px;
}

p + ul {
  margin-top: -8px;
}

strong {
  font-size: 20px;
}

.services-list {
  column-count: 2;
}

.section-services h2,
.section-services .h2 {
  margin-bottom: 16px;
}

.section-services__title {
  margin: 0;
}

.section-services__item {
  display: inline-block;
  width: 90%;
  margin-top: 30px;
}

@media  screen and (max-width: 767px) {
  .services-list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

.table-price {
  max-width: 640px;
  border: 2px solid;
}

.table-price__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.table-price__col {
  padding: 20px;
}

.table-price__row:not(:last-child) {
  border-bottom: 2px solid;
}

.table-price__col:not(:last-child) {
  border-right: 2px solid;
}

.section-welcome {
  padding-top: 40px;
}

.header,
.section-services,
.fees {
  background-color: #faf5e3;
}

.section-services {
    border-top: 1px solid transparent;
}

.fees {
  border-top: 1px solid transparent;
  padding-bottom: 40px;
  margin-bottom: 0 !important;
}

.address__container {
  display: flex;
  justify-content: space-between;
}

.address__right {
  padding-top: 40px;
}